.time{
border-collapse: collapse;

}
.time thead tr{
    background-color: rgb(146, 141, 141);
    
}
table {
    display: table-cell hide;
}
    table th,td{
        border: 2px solid rgb(37, 35, 35); 
        
        font-family: 'Times New Roman', Times, serif;
       text-align: center;
        font-weight: bold;
        

    }
    th,td{
        padding: 10px;
    }
    